<?xml version="1.0"?>
<launch>


<include file="$(find audibot_gazebo)/launch/audibot_named_robot.launch" >
  <arg name="robot_name" value="orange" />
  <arg name="start_x" value="0" />
  <arg name="start_y" value="2" />
  <arg name="start_z" value="0" />
  <arg name="start_yaw" value="0" />
  <arg name="pub_tf" value="true" />
  <arg name="tf_freq" value="100.0" />
  <arg name="blue" value="false" />
</include>

<include file="$(find gazebo_ros)/launch/empty_world.launch" >
  <arg name="paused" value="false"/>
  <arg name="use_sim_time" value="true"/>
  <arg name="gui" value="false"/>
  <arg name="headless" value="true"/>
  <arg name="debug" value="false"/>
</include>

  <arg name="tf_freq" default="100.0" />

  <arg name="drone_name" default="drone" />
  <arg name="blue" value="true" />
  <arg name="pub_tf" value="true" />
    <group ns="$(arg drone_name)" >
      <param name="robot_description" command="cat '$(find sjtu_drone)/urdf/sjtu_drone.urdf'" />
      <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model sjtu_drone -x 0 -y 0 -z 0"
       respawn="false" output="screen" />
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
        <param name="publish_frequency" type="double" value="$(arg tf_freq)" />
        <param name="tf_prefix" value="$(arg drone_name)" />
      </node>
    </group>

  <node pkg="rviz" type="rviz" name="single_vehicle_viz" args="-d $(find gazebo_tf)/rviz/multi.rviz" />

  <node pkg="gazebo_tf" type="gazebo_connect" name="gazebo_connect" />
  <node pkg="gazebo_tf" type="reach" name="reach_ugv" output="screen" />
  <node pkg="gazebo_tf" type="reach" name="reach_uav" args="_platform:=uav" output="screen" />
  
</launch>
