<?xml version="1.0"?>
<model>
  <name>Grass Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Ed Bray</name>
    <email>edward.bray@uts.edu.au</email>
  </author>

  <description>
    A small ground plane with a grass texture.
  </description>
</model>
