<?xml version='1.0'?>
<database>
<name>model database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://closed_green_wall</uri>
<uri>file://person_standing</uri>
<uri>file://tower</uri>
<uri>file://ice_mt_ground</uri>
<uri>file://terrain_1</uri>
<uri>file://construction_cone</uri>
</models>
</database>
